.app__about {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    border-top: 1rem solid var(--color-gray);
}

.app__about .headtext__base {
    color: var(--color-lightYellow);
}

.app__about-context {
    display: flex;
    align-items: stretch;
    height: fit-content;
    width: 100%;
    position: relative;
}

.about__context-img {
    height: 500px;
    width: 100%;
    flex: 1;
}

.about__context-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.about__context-text{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(30,35,40,0.75);
    padding: 1rem 1rem;
}

.about__context-text p, .app__about .headtext__base {
    font-family: var(--font-alt);
}